h1 {
  padding: 2rem 10rem;
  margin: 10px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aquamarine;
}
